<% include ./partials/header %>

	<div class="container-fluid">
      <h1>Add Habitat</h1>
      <div style="text-align:center;margin-top:10px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContainer">
          Add Habitat
        </button>
      </div>
      <br><br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Oxygen Requirements
            </th>
            <th>
              Food Requirements
            </th>
            <th>
              Waste Production
            </th>
            <th>
              Radiation Tolerance
            </th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <div id="modalContainer" class="modal fade">
        <div class="modal-dialog">
          <div style="width:1000px;background-color:beige;margin-left:-200px;" class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
              <h1 style="text-align:center;" class="modal-title">Add a Habitat Model</h1>
            </div>
            <div class="modal-body">
              <form id="habitatForm">
                <div class="form-group">
                	<fieldset id="astronaut" form="habitatForm">
              			<legend>Select Astronaut Model for Simulation</legend>
              			<% for(var i=0;i<astronaut.length;i++){ %>
              			<p>
			                <input type="radio" name="astronaut" id="astro<%= i %>">
			                <%= astronaut[i]['o2Req'] %> kg/day O2 |
                			<%= astronaut[i]['foodReq'] %> kcal/day Food |
                			<%= astronaut[i]['wasteAmt'] %> kg/day Waste |
                			<%= astronaut[i]['radTol'] %> milliSieverts/yr max allowed exposure
			              </p>
                		<% } %>
			            </fieldset>
                </div>
                <div class="form-group">
                	<fieldset id="environment" form="habitatForm">
              			<legend>Select Environment Model for Simulation</legend>
              			<% for(var i=0;i<environment.length;i++){ %>
              			<p>
			                <input type="radio" name="environment" id="environment<%= i %>">
			                <%= environment[i]['tempAvg'] %> &#8451; temp average |
                			<%= environment[i]['radLvl'] %> milliSieverts/yr |
                			<%= environment[i]['loc'][0] %> latitude,
                			<%= environment[i]['loc'][1] %> longitude |<br>
                			<span style="font-weight:bold;margin-left: 20px;">Geologic Features:</span>
                			<% for(var j=0;j<environment[i]['geoFtrs'].length;j++) { %>
                				<button class="geoBtn" name="<%= environment[i]['geoFtrs'][j][0] %>" title="<%= environment[i]['geoFtrs'][j][1] %>" value="<%= environment[i]['geoFtrs'][j][2] %>"><%= environment[i]['geoFtrs'][j][0] %></button>

                			<% } %>
			              </p>
                		<% } %>
			            </fieldset>
                </div>
                <div class="form-group">
                  <fieldset id="lab" form="habitatForm">
              			<legend>Select Modules</legend>
              			<% for(var i=0;i<lab.length;i++){ %>
              			<p>
			                <input type="checkbox" name="lab" id="lab<%= i %>">
			                <label for="lab"><%= lab[i]['title'] %> |
                		Dimensions <%= lab[i]['size'][0] %>m x <%= lab[i]['size'][1] %>m x <%= lab[i]['size'][2] %>m |
                		Equipment:
                		<% for(var j=0;j<lab[i]['equip'].length;j++) { %>
                		<button class="labBtn" name="<%= lab[i]['equip'][j][0] %>" title="<%= lab[i]['equip'][j][1] %>" value="<%= lab[i]['equip'][j][2] %>" data="<%= lab[i]['equip'][j][3] %>"><%= lab[i]['equip'][j][0] %></button>

                		<% } %></label>
			              </p>
                		<% } %>
			            </fieldset>
                </div>
                <a href="/sim">Save</a>
                <!-- <button class="btn btn-primary" type="submit" name="submit">Save</button> -->
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- geo feature modals -->
      <div id="geoModalContainer" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
              <h2 style="text-align:center;" id="geoTitle" class="modal-title"></h2>
            </div>
            <div class="modal-body">
              <p id="geoDesc"></p>
              <br>
              <p>Located <span id="geoDistFrom"></span> from the main site.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- lab feature modals -->
      <div id="labModalContainer" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
              <h2 style="text-align:center;" id="labTitle" class="modal-title"></h2>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-xs-6"><img style="width:250px;" id="labImage" src=""></div>
            		<div class="col-xs-6">
            			<p id="labDesc"></p>
            		</div>
            	</div>
              <br>
              <p id="labPower"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>
    <!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script>
    	$(".geoBtn").on('click',function(e){
    		e.preventDefault();
    		var name = $(this).attr('name');
    		var desc = $(this).attr('title');
    		var distFrom = $(this).attr('value');
    		$('#geoTitle').html(name);
    		$('#geoDesc').html(desc);
    		$('#geoDistFrom').html(distFrom);
    		$('#geoModalContainer').modal('show');
    	});

    	$(".labBtn").on('click',function(e){
    		e.preventDefault();
    		var title = $(this).attr('name');
    		var desc = $(this).attr('title');
    		var imageUrl = $(this).attr('value');
    		var power = $(this).attr('data');
    		$('#labTitle').html(title);
    		$('#labDesc').html(desc);
    		$('#labImage').attr('src',imageUrl);
    		if(power) {
    			$('#labPower').html("This equipment requires power.")
    		} else {
    			$('#labPower').html("This equipment does not require power.")
    		}
    		$('#labModalContainer').modal('show');
    	});
    </script>
</body>
</html>
